.header {
    display: flex;
    height: 100vh;
    // width: 100vh;

    .img {
        width: 100px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border: 1px solid;
        padding-left: 200px;
        justify-content: start;
        align-items: center;
        background-color: #5B5CE2;
        border: none;


        img {
            height: 100px;
            padding-right: 200px;
            padding-top: 30px;

        }

        .mainimg {
            padding-top: 100px;
        }
    }




}

.all {
    display: flex;
}